<ion-header class="safe-area-top">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline" default-href="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'note' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (show()) {
    <ion-list lines="none">
      <ion-item class="custom-item">
        <ion-label position="stacked">{{ 'select_member' | translate }}*</ion-label>
        <ion-select
          [value]="selectedMemberId()"
          (ionChange)="selectedMemberId.set($event.detail.value)">

          @for (item of statusMembers(); track item.id) {
            <ion-select-option [value]="item.id">
              {{ item.first_name }} {{ item.last_name }}
            </ion-select-option>
          }
        </ion-select>
      </ion-item>

      @if (selectedMemberId()) {
        <ion-item class="custom-item animate__animated animate__fadeIn">
          <ion-label position="stacked">{{ 'enter_note' | translate }}*</ion-label>
          <ion-textarea
            [ngModel]="noteValue()"
            (ngModelChange)="noteValue.set($event)"
            [rows]="6"
            autoGrow="true"
            placeholder="...">
          </ion-textarea>
        </ion-item>
      }
    </ion-list>
    <ion-button
      expand="block"
      size="large"
      class="save-btn"
      (click)="saveEntry()">
      {{ 'save' | translate }}
    </ion-button>

    <ion-toast
      [isOpen]="isToastNoteOpen()"
      [message]="'note_saved' | translate"
      [duration]="3000"
      (didDismiss)="setNoteOpen(false)"
      position="bottom"
      color="success">
    </ion-toast>
  } @else {
    <div class="ion-text-center ion-padding">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  }
</ion-content>
