.custom-item {
  --background: var(--ion-color-light-tint);
  --border-radius: 12px;
  --padding-start: 16px;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

  ion-label {
    font-weight: 600 !important;
    color: var(--ion-color-primary) !important;
    margin-bottom: 10px !important;
  }

  ion-select {
    width: 100%;
    --placeholder-color: var(--ion-color-medium);
  }

  ion-textarea {
    margin-top: 5px;
    border-radius: 12px;
    border-color: var(--primary);
  }
}

ion-fab-button {
  --background: var(--ion-color-primary);
  --box-shadow: 0 4px 12px rgba(var(--ion-color-primary-rgb), 0.4);
}

// Animacija za textarea
.animate__fadeIn {
  --animate-duration: 0.4s;
}
