<ion-header class="safe-area-top ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'contact_us' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_color ion-padding">
  <ng-container *ngIf="show(); else skeletonContent">
    <div class="content-wrapper animate__animated animate__fadeIn">
      
      <div class="header-card">
        <p class="instruction-text">
          
          {{ 'how_may_we' | translate }}
          {{ 'help_you' | translate }}
        
        </p>
      </div>

      <div class="list-item">
        <ion-label class="input-label">{{ 'message' | translate }}*</ion-label>
        <div class="editor-wrapper">
          <ion-textarea 
            [ngModel]="contactUs().message" 
            (ngModelChange)="updateMessage($event)"
            [rows]="10" 
            placeholder="{{ 'enter_your_message' | translate }}">
          </ion-textarea>
        </div>
      </div>

    </div>
  </ng-container>
</ion-content>

<ion-footer class="ion-no-border ion-padding-start ion-padding-end">
  <ion-button 
    size="large" 
    expand="block" 
    class="btn-save" 
    (click)="submitContact()" 
    [disabled]="clicked() || !isInputValid()">
    <ion-spinner name="crescent" *ngIf="clicked()" slot="start"></ion-spinner>
    {{ 'send' | translate }}
  </ion-button>
</ion-footer>

<ng-template #skeletonContent>
  <div class="content-wrapper">
    <div class="header-card">
      <ion-skeleton-text animated style="width: 100%; height: 40px;"></ion-skeleton-text>
    </div>
    <div class="list-item">
      <ion-skeleton-text animated style="width: 30%; height: 16px; margin-bottom: 8px;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 100%; height: 250px; border-radius: 12px;"></ion-skeleton-text>
    </div>
  </div>
</ng-template>