<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        icon="chevron-back-outline"
        defaultHref="home">
      </ion-back-button>
    </ion-buttons>

    <ion-title>{{ 'add_member' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

@if (show()) {
  <ion-content class="bg_color ion-padding">
    <ion-list lines="none">

      <!-- First name -->
      <div class="list-item">
        <ion-label>{{ 'first_name' | translate }}*</ion-label>
        <ion-item>
          <ion-input
            type="text"
            [value]="member().first_name"
            (ionInput)="setMember('first_name', $event.detail.value)">
          </ion-input>
        </ion-item>
      </div>

      <!-- Last name -->
      <div class="list-item">
        <ion-label>{{ 'last_name' | translate }}*</ion-label>
        <ion-item>
          <ion-input
            type="text"
            [value]="member().last_name"
            (ionInput)="setMember('last_name', $event.detail.value)">
          </ion-input>
        </ion-item>
      </div>

      <!-- Birth date -->
      <div class="list-item">
        <ion-label class="unmargined">
          {{ 'birth_date' | translate }}
          <small>
            <ion-checkbox (ionBlur)="resetBirthDate()"
              [(ngModel)]="member().birth_date_show">
              {{ 'unknown' | translate }}
            </ion-checkbox>
          </small>
        </ion-label><br>

        @if (!member().birth_date_show) {
          <ion-item class="fit-content">
            <ion-datetime
              presentation="date"
              [preferWheel]="true"
              [max]="maxDate()"
              [value]="member().birth_date"
              (ionChange)="setMember('birth_date', $event.detail.value)">
            </ion-datetime>
          </ion-item>
        }
      </div>

      <!-- Groups -->
      <div class="list-item">
        <ion-label>{{ 'groups' | translate }}*</ion-label>
        <ion-item>
          <ion-select
            [multiple]="true"
            [value]="member().group_ids"
            placeholder="{{ 'select_groups' | translate }}"
            (ionChange)="setMember('group_ids', $event.detail.value); changeGroup()">

            @for (item of groups(); track item.id) {
              <ion-select-option [value]="item.id">
                {{ item.name }}
              </ion-select-option>
            }
          </ion-select>
        </ion-item>
      </div>

      <!-- Urgent contact -->
      <div class="list-item">
        <ion-label>{{ 'urgent_contact' | translate }}</ion-label>
        <ion-item>
          <ion-input
            type="text"
            [value]="member().urgent_contact"
            (ionInput)="setMember('urgent_contact', $event.detail.value)">
          </ion-input>
        </ion-item>
      </div>

      <!-- Urgent kinship -->
      <div class="list-item">
        <ion-label>{{ 'urgent_kinship' | translate }}</ion-label>
        <ion-item>
          <ion-input
            type="text"
            [value]="member().urgent_kinship"
            (ionInput)="setMember('urgent_kinship', $event.detail.value)">
          </ion-input>
        </ion-item>
      </div>

      <!-- Urgent phone -->
      <div class="list-item">
        <ion-label>{{ 'urgent_phone' | translate }}</ion-label>
        <ion-item>
          <ion-input
            type="number"
            [value]="member().urgent_phone"
            (ionInput)="setMember('urgent_phone', $event.detail.value)">
          </ion-input>
        </ion-item>
      </div>

      <!-- Member phone -->

      <div class="list-item">
        <label class="input-label">
          {{ 'mobile_phone' | translate }}
        </label>
        <div class="phone-input">
          @if (member().phone_prefix) {
            <span class="prefix">
                ({{ member().phone_prefix }})
              </span>
          }
          <ion-input
            type="number"
            [value]="member().phone"
            (ionInput)="setMember('phone', $event.detail.value)">
          </ion-input>
        </div>
      </div>

      <!-- Enrollment date -->
      <div class="list-item">
        <ion-label class="unmargined">{{ 'enrollment_date' | translate }}
          <small>
            <ion-checkbox (ionBlur)="resetEnrollmentDate()"
              [(ngModel)]="member().enrollment_date_show">
              {{ 'unknown' | translate }}
            </ion-checkbox>
          </small>
        </ion-label><br>
        @if (!member().enrollment_date_show) {
          <ion-item class="fit-content">
            <ion-datetime
              presentation="date"
              [preferWheel]="true"
              [max]="maxDate()"
              [value]="member().enrollment_date"
              (ionChange)="setMember('enrollment_date', $event.detail.value)">
            </ion-datetime>
          </ion-item>
        }
      </div>
      @if (showMembershipsAndMedical()) {
        <!-- Membership -->
        <div class="list-item">
          <ion-label>{{ 'membership' | translate }}*</ion-label>
          <ion-item>
            <ion-select
              [value]="member().team_membership_id"
              (ionChange)="setMember('team_membership_id', $event.detail.value); changeGroup()">

              @for (item of team_memberships(); track item.id) {
                <ion-select-option [value]="item.id">
                  {{ item.amount }} {{ item.iso_code }}
                </ion-select-option>
              }
            </ion-select>
          </ion-item>
        </div>

        @if (showMedicalExamination()) {
          <!-- Last medical -->
          <div class="list-item">
            <ion-label class="unmargined">{{ 'last_medical_examination' | translate }}
              <small>
                <ion-checkbox (ionBlur)="resetLastMedicalExamination()"
                  [(ngModel)]="member().last_medical_examination_show">
                  {{ 'unknown' | translate }}
                </ion-checkbox>
              </small>
            </ion-label><br>

          @if (!member().last_medical_examination_show) {
            <ion-item class="fit-content">
              <ion-datetime
                presentation="date"
                [preferWheel]="true"
                [max]="maxDate()"
                [value]="member().last_medical_examination"
                (ionChange)="setMember('last_medical_examination', $event.detail.value)">
              </ion-datetime>
            </ion-item>
          }
        </div>

          <!-- Next medical -->
          <div class="list-item">
            <ion-label class="unmargined">{{ 'next_medical_examination' | translate }}
              <small>
                <ion-checkbox (ionBlur)="resetNextMedicalExamination()"
                  [(ngModel)]="member().next_medical_examination_show">
                  {{ 'unknown' | translate }}
                </ion-checkbox>
              </small>
            </ion-label><br>

          @if (!member().next_medical_examination_show) {
            <ion-item class="fit-content">
              <ion-datetime
                presentation="date"
                [preferWheel]="true"
                [max]="maxDate()"
                [value]="member().next_medical_examination"
                (ionChange)="setMember('next_medical_examination', $event.detail.value)">
              </ion-datetime>
            </ion-item>
          }
        </div>

        }
      }

      <!-- Custom fields -->
      @for (item of customFields(); track item.id) {
        <div class="list-item">
          <ion-label>{{ item.label }}</ion-label>
          <ion-item>
            <ion-input
              type="text"
              [value]="item.value"
              (ionInput)="setCustomField(item.id, $event.detail.value)">
            </ion-input>
          </ion-item>
        </div>
      }
      <ion-item></ion-item>

    </ion-list>
  </ion-content>
} @else {
  <!-- Skeleton -->
  <ion-content class="bg_color ion-padding">
    <ion-list lines="none">
      @for (i of [1,2,3,4,5,6,7,8]; track i) {
        <div class="list-item skeleton-item">
          <ion-label>
            <ion-skeleton-text animated style="width:40%"></ion-skeleton-text>
          </ion-label>
          <ion-item>
            <ion-skeleton-text animated style="width:100%;height:50px"></ion-skeleton-text>
          </ion-item>
        </div>
      }
    </ion-list>
  </ion-content>
}

<ion-footer class="ion-no-border animate__animated animate__fadeInUp">
  <ion-button
    expand="block"
    class="save-btn mt-6"
    (click)="save()"
    [disabled]="clicked() || !show()">

    @if (clicked()) {
      <ion-spinner name="dots"></ion-spinner>
    } @else if (!show()) {
      <ion-skeleton-text animated style="width:50%;height:20px;margin:auto"></ion-skeleton-text>
    } @else {
      <span>{{ 'save' | translate }}</span>
    }

  </ion-button>
</ion-footer>
