ion-header {
    padding: 8px;
    ion-toolbar{
        border: none !important;
    }
    h1 {
        margin: 0;
        color: var(--white);
        font-size: 1.8rem;
        padding-bottom: 7px;
        ion-icon {
            font-size: 1.6rem;
            min-width: fit-content;
            padding: 0 1px;
        }
    }
    h2 {
        margin: 0;
        color: var(--white);
        font-size: 0.95rem;
        opacity: 0.6;
        letter-spacing: 0.3px;
        font-weight: 500;
    }
    ion-row {
        margin: 0px;
        padding-top: 30px;
        ion-col {
            padding: 0 5px;
            h3 {
                margin: 0;
                color: var(--white);
                font-size: 1.5rem;
                padding-bottom: 7px;
            }
            h4 {
                margin: 0;
                color: var(--white);
                font-size: 0.95rem;
                opacity: 0.6;
                letter-spacing: 0.3px;
                font-weight: 500;
            }
        }
    }
}

ion-content {
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.menu {
    padding: 0 14px;
    padding-top: 20px;
    ion-row {
        margin: 0 -7px;
        ion-col {
            padding: 7px;
            .menu-box {
                background: var(--white);
                overflow: hidden;
                border-radius: 10px;
                position: relative;
                width: 100%;
                height: 170px;
                box-shadow: 0 9px 10px 1px #0000002a;
                .menu-text {
                    padding: 12px 15px;
                    position: relative;
                    z-index: 99;
                    h2 {
                        margin: 0;
                        color: var(--text-dark);
                        font-size: 0.95rem;
                        font-weight: 600;
                        padding-bottom: 5px;
                    }
                    h3 {
                        margin: 0;
                        color: var(--text-light2);
                        font-size: 0.75rem;
                    }
                }
                .menu_img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
.option_container {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 9999;
  padding-top: 16px;
  .option {
    background: var(--white);
    border-radius: 4px;
    height: auto;
    width: fit-content;
    overflow: hidden;
    position: absolute;
    right: -100%;
    top: 37px;
    padding: 12px 25px;
    min-width: 170px;
    transition: all 0.2s ease-in-out;
    h2 {
      margin: 0;
      color: var(--text-dark);
      font-size: 1.2rem;
      width: 100%;
      font-weight: 600;
      padding: 12px 0;
    }
    .buy_this_app {
      background: var(--text-dark);
      border-radius: 10px;
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 12px;
      margin-top: 10px;
      min-height: 52px;
      h2 {
        text-align: center;
        margin: auto;
        letter-spacing: 0;
        font-size: 1em;
        font-weight: 500;
      }
    }
  }
  &.active {
    right: 0;
    .option {
      right: 17px;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 58%);
  }
}

