<ion-header class="safe-area-top ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline" default-href="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'history_presence' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_color">
  <div class="content-wrapper">
    
    <div class="info-card date-selector-card">
      <div class="info-row no-border">
        <span class="label">{{ 'select_month' | translate }}</span>
        <div class="date-wrapper">
          <ion-datetime-button datetime="month-picker"></ion-datetime-button>
        </div>
      </div>
    </div>

    <div *ngIf="isLoading()" class="ion-padding ion-text-center">
      <ion-spinner name="crescent" color="primary"></ion-spinner>
    </div>

    <div class="presence-container animate__animated animate__fadeIn" *ngIf="!isLoading()">
      <div class="table-responsive">
        <table class="presence-table">
          <thead>
            <tr>
              <th class="sticky-col">{{ 'full_name' | translate }}</th>
              <th *ngFor="let training of trainingDays(); let i = index">
                <span class="day-num">{{ i + 1 }}</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let member of members()" class="member-row">
              <td class="sticky-col name-cell" (click)="memberDetails(member)">
                {{ member.first_name }} {{ member.last_name }}
              </td>
              <td *ngFor="let status of member.presence" class="status-cell">
                <div class="status-indicator" [ngClass]="status">
                  <ion-icon *ngIf="status === 'present'" name="checkmark-outline"></ion-icon>
                  <ion-icon *ngIf="status === 'not_present'" name="close-outline"></ion-icon>
                  <ion-icon *ngIf="status !== 'present' && status !== 'not_present' && status !== '&nbsp;'" name="help-outline"></ion-icon>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="footer-row">
              <td class="sticky-col">{{ 'total' | translate }}</td>
              <td *ngFor="let training of trainingDays()" class="ion-text-center">
                {{ totalPresences()[training.id] || 0 }}
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

  </div>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime 
        id="month-picker" 
        presentation="month-year" 
        [value]="selectedDate()"
        (ionChange)="selectedDate.set($event.detail.value); fetchData()">
      </ion-datetime>
    </ng-template>
  </ion-modal>
</ion-content>