<ion-header class="safe-area-top">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline" default-href="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'switch_team' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_color">
  <ion-list lines="none">
    <ion-radio-group [value]="selectedTeamId()">
      <ion-item *ngFor="let team of teams()" 
                (click)="onTeamClick(team)"
                class="animate__animated animate__fadeInUp">
        <div class="item_inner d-flex">
          <h3>{{ team.name }}</h3>
          <ion-radio class="end" [value]="team.id"></ion-radio>
        </div>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border animate__animated animate__fadeInUp">
  <ion-button size="large" shape="full" class="btn" (click)="teamConfirm()" [disabled]="!selectedTeamId()">
    {{ 'save' | translate }}
  </ion-button>
</ion-footer>