<ion-header class="safe-area-top ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline" default-href="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'make_photo' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_color">
  <div *ngIf="isLoading()" class="ion-padding ion-text-center">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
  </div>

  <div class="content-wrapper animate__animated animate__fadeIn" *ngIf="!isLoading() && teamMember()">
    <div class="photo-container">

      <div class="avatar-frame" (click)="pickImage()">
        <img *ngIf="teamMember().avatar" [src]="teamMember().avatar_url" class="member-photo" />
        <img *ngIf="!teamMember().avatar" [src]="teamMember().photo" class="member-photo" />

        <div class="overlay-icon">
          <ion-icon name="camera"></ion-icon>
        </div>
      </div>

      <div class="info-text">
        <h3>{{ teamMember().first_name }} {{ teamMember().last_name }}</h3>
      </div>

      <div class="action-stack">
        <ion-button
          expand="block"
          fill="outline"
          class="btn-pick"
          (click)="pickImage()">
          <ion-icon slot="start" name="camera-outline"></ion-icon>
          {{ 'take_photo' | translate }}
        </ion-button>
      </div>

    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border ion-padding-start ion-padding-end">
  <ion-button
    expand="block"
    shape="round"
    class="btn-save"
    (click)="save()"
    [disabled]="isSubmitting() || isLoading()">

    <ion-spinner name="crescent" *ngIf="isSubmitting()" slot="start"></ion-spinner>
    {{ 'save' | translate }}
  </ion-button>
</ion-footer>
