<ion-header class="safe-area-top ion-no-border">
  <ion-toolbar>
    <!-- <ion-back-button slot="start" icon="chevron-back-outline" defaultHref="sign-in"></ion-back-button> -->
    <ion-title class="ion-text-center"> {{'password_reset_title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_color">
  <div class="form">
    <ion-list lines="none">
      <ion-item class=" animate__animated animate__fadeInUp">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input type="email" value="" [(ngModel)]="data().email"
                   placeholder="{{'email_address' | translate}}*"></ion-input>
      </ion-item>
    </ion-list>
  </div>
  <ion-footer class="ion-no-border">
          <div class="w100">
        <ion-button size="large" shape="block" class="reset-btn animate__animated animate__fadeInUp"
                    (click)="resetPassword()" [disabled]="clicked()">
          <ion-spinner name="dots" *ngIf="clicked()"></ion-spinner>
          {{'reset_password' | translate}}</ion-button>
      </div>
    <div class="w100">
      <ion-button class="back-btn" (click)="back()">{{'back_to_login' | translate}}</ion-button>
    </div>
  </ion-footer>
</ion-content>