<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" icon="chevron-back-outline" defaultHref="sign-in"></ion-back-button>
    <ion-title class="ion-text-center"> {{ 'password_reset' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_color">
  <div class="content-wrapper animate__animated animate__fadeIn">
    <div class="form-container">
      <div class="form-group">
        <label class="input-label">
          {{ 'email_address' | translate }}
          <span class="required">*</span>
        </label>
        <div class="custom-input-wrapper">
          <ion-input
            type="email"
            [(ngModel)]="data().email">
          </ion-input>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <div class="w100">
    <ion-button
      size="large"
      shape="block"
      class="main-btn animate__animated animate__fadeInUp"
      (click)="resetPassword()" [disabled]="clicked()">
      @if (clicked()) {
        <ion-spinner name="dots"></ion-spinner>
      }
      {{ 'reset_password' | translate }}
    </ion-button>
  </div>

  <div class="w100">
    <ion-button class="forgot" (click)="back()">{{ 'back_to_login' | translate }}
    </ion-button>
  </div>
</ion-footer>
