<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        icon="chevron-back-outline"
        defaultHref="home">
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'avatar' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_color">

  @if (show()) {

    <div class="avatar-container animate__animated animate__zoomIn">
      <div class="image-wrapper">
        <img
          [src]="user().photo || user().profile_photo_url"
          alt="Avatar"/>
      </div>
    </div>

  } @else {

    <div class="avatar-container">
      <div class="image-wrapper skeleton">
        <ion-skeleton-text
          animated
          style="width: 100%; height: 100%; margin: 0;">
        </ion-skeleton-text>
      </div>

      <div class="action-stack">
        <ion-skeleton-text
          animated
          style="width: 100%; height: 48px; border-radius: 12px; margin-bottom: 12px;">
        </ion-skeleton-text>

        <ion-skeleton-text
          animated
          style="width: 100%; height: 56px; border-radius: 12px;">
        </ion-skeleton-text>
      </div>
    </div>

  }
</ion-content>
<ion-footer class="ion-no-border ion-padding-start ion-padding-end">

  <ion-button
    expand="block"
    class="btn-pick"
    (click)="pickImage()">
    {{ 'take_photo' | translate }}*
  </ion-button>
  <ion-button
    expand="block"
    class="save-btn mt-6"
    (click)="save()"
    [disabled]="clicked()">

    @if (clicked()) {
      <ion-spinner name="crescent"></ion-spinner>
    } @else {
      {{ 'save' | translate }}
    }
  </ion-button>
</ion-footer>
