<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline" defaultHref="/home">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      {{ 'select_language' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-background">
  <div class="content-wrapper p-4">
    <div class="language-list">
      @for (lang of languages(); track lang.code) {
        <button
          class="lang-card ion-activatable ripple-parent"
          (click)="onLanguageClick(lang)">
          <span class="lang-name">
            {{ lang.name }}
          </span>
          <div
            class="checkbox-custom"
            [class.checked]="defaultLanguageCode() === lang.code">
            @if (defaultLanguageCode() === lang.code) {
              <ion-icon name="checkmark-outline"></ion-icon>
            }
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </button>
      }
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border ion-padding-start ion-padding-end">
  <ion-button
    expand="block"
    class="save-btn mt-6"
    (click)="languageConfirm()">
    {{ 'save' | translate }}
  </ion-button>
</ion-footer>
